h1,h2,html,body {
    height: 100%;
    margin:0;
    padding:0;
    overflow-y:hidden;

}
html { font-size:100px; }
@media(max-width:540px){ html { font-size:84.375px; } } /*Android常用宽度*/
@media(max-width:480px){ html { font-size:75px; } }		/*Android常用宽度*/
@media(max-width:414px){ html { font-size:64.69px; } }  /*i6Plus,i7Plus宽度*/
@media(max-width:375px){ html { font-size:58.59px; } }	/*i6,i7宽度*/
@media(max-width:360px){ html { font-size:56.25px; } }	/*Android常用宽度*/
@media(max-width:320px){ html { font-size:0.5rem; } }
#canvas{
    height:100%;
    width:100%;
    position: fixed;
    z-index: -2;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.container-box{
    position:relative;
    width:80%;
    height:100%;
    left:10%;
    z-index: 999;
}
.container-box .section-one-info{
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
}
.section-one-info h1{
    padding-bottom:30px;
    text-align: center;
    background: -webkit-radial-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-one-text{
    text-align: center;
    width: 271px;
    background: -webkit-radial-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.square{
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    position:relative;
    width:1rem;
    height:1rem;
    transform-origin: 0% 0%;
    -webkit-transform-origin:0% 0%;
    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transition:2s all;
    -moz-animation:rotate infinite 5s linear;
    -webkit-animation: rotate infinite 5s linear;
    -o-animation: rotate infinite 5s linear;
    animation: rotate infinite 5s linear;
}
@keyframes rotate {
    0%{
        transform: rotateY(0deg) translate(-50%,-50%);
    }
    25%{
        transform: rotateY(181deg) translate(-50%,-50%);
    }
    50%{
        transform: rotateX(0deg) rotateY(360deg) translate(-50,-50%);
    }
    75%{
        transform: rotateX(181deg) rotateY(360deg) translate(-50%-50%);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg) translate(-50%,-50%);
    }
}
@-webkit-keyframes rotate {
    0%{transform: rotateY(0deg) translate(-50%,-50%)}
    25%{transform: rotateY(181deg) translate(-50%,-50%)}
    50%{transform: rotateX(0deg) rotateY(360deg) translate(-50%,-50%)}
    75%{transform: rotateX(181deg) rotateY(360deg) translate(-50%,-50%)}
    100%{transform:rotateX(360deg) rotateY(360deg) translate(-50%,-50%)}
}
@-khtml-keyframes rotate {
    0%{transform: rotateY(0deg) translate(-50%,-50%)}
    25%{transform: rotateY(181deg) translate(-50%,-50%)}
    50%{transform: rotateX(0deg) rotateY(360deg) translate(-50%,-50%)}
    75%{transform: rotateX(181deg) rotateY(360deg) translate(-50%,-50%)}
    100%{transform:rotateX(360deg) rotateY(360deg) translate(-50%,-50%)}
}
@-moz-keyframes rotate {
    0%{transform: rotateY(0deg) translate(-50%,-50%)}
    25%{transform: rotateY(181deg) translate(-50%,-50%)}
    50%{transform: rotateX(0deg) rotateY(360deg) translate(-50%,-50%)}
    75%{transform: rotateX(181deg) rotateY(360deg) translate(-50%,-50%)}
    100%{transform:rotateX(360deg) rotateY(360deg) translate(-50%,-50%)}
}
@-o-keyframes rotate {
    0%{transform: rotateY(0deg) translate(-50%,-50%)}
    25%{transform: rotateY(181deg) translate(-50%,-50%)}
    50%{transform: rotateX(0deg) rotateY(360deg) translate(-50%,-50%)}
    75%{transform: rotateX(181deg) rotateY(360deg) translate(-50%,-50%)}
    100%{transform:rotateX(360deg) rotateY(360deg) translate(-50%,-50%)}
}
@-ms-keyframes rotate {
    0%{transform: rotateY(0deg) translate(-50%,-50%)}
    25%{transform: rotateY(181deg) translate(-50%,-50%)}
    50%{transform: rotateX(0deg) rotateY(360deg) translate(-50%,-50%)}
    75%{transform: rotateX(181deg) rotateY(360deg) translate(-50%,-50%)}
    100%{transform:rotateX(360deg) rotateY(360deg) translate(-50%,-50%)}
}
.side{
    cursor:pointer;
    position:absolute;
    display:block;
    height:1rem;
    width:1rem;
    line-height: 1rem;
    text-align: center;
    font-size:0.25rem;
    font-family: 华文彩云;
}
.side1{
    background: -webkit-radial-gradient(white, #38495a);
    -webkit-transform:translateZ(0.5rem);
    transform:translateZ(0.5rem);
}
.side2{
    background: -webkit-radial-gradient(white, #38495a);
    -webkit-transform:rotateY(90deg) translateZ(0.5rem);
    transform:rotateY(90deg) translateZ(0.5rem);
}
.side3{
    background: -webkit-radial-gradient(white, #38495a);
    -webkit-transform:rotateY(180deg) translateZ(0.5rem);
    transform:rotateY(180deg) translateZ(0.5rem);
}
.side4{
    background: -webkit-radial-gradient(white, #38495a);
    -webkit-transform:rotateY(270deg) translateZ(0.5rem);
    transform:rotateY(270deg) translateZ(0.5rem);
}
.side5{
    background: -webkit-radial-gradient(white, #38495a);
    -webkit-transform:rotateX(90deg) translateZ(0.5rem);
    transform:rotateX(90deg) translateZ(0.5rem);
}
.side6{
    background: -webkit-radial-gradient(white, #38495a);
    -webkit-transform:rotateX(270deg) translateZ(0.5rem);
    transform:rotateX(270deg) translateZ(0.5rem);
}